<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3dad8499-aca2-45c5-b833-06b80132883b" Alias="accordionRow" Level="4">
  <Info>
    <Name>Accordion row</Name>
    <Icon>icon-ordered-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="27812ab3-2bbb-45b3-acaf-ddc6b7dc2fe6">descriptionProperty</Composition>
      <Composition Key="ff0c35e9-06ff-4d3d-86a4-e6ae0b857d73">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a029126c-5237-4c83-97ec-d6d5fb3543bc</Key>
      <Name>Accordion Items</Name>
      <Alias>accordionItems</Alias>
      <Definition>b9a2072e-9838-4712-be84-150c68839d48</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the items for this row]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>86ee79d9-6454-456a-a602-3bf32aa812c1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>