<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95bbe4c6-f966-41d3-bf50-e5a9b17b1d7f" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles for big posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5a4d7987-ef1c-4165-9ee9-9f52689d11e5">contentProperties</Composition>
      <Composition Key="fe73f90a-fc44-4490-92ca-4f98d028aa6e">headerProperties</Composition>
      <Composition Key="21acc14f-b4d7-4540-9259-72f62d2cdc31">visibilityProprtties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6d2d5c5d-ec4b-4b46-9187-32456b422b49">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>