<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd7a3413-12bf-45c3-8011-73d96b7c6b01" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5a4d7987-ef1c-4165-9ee9-9f52689d11e5">contentProperties</Composition>
      <Composition Key="fe73f90a-fc44-4490-92ca-4f98d028aa6e">headerProperties</Composition>
      <Composition Key="21acc14f-b4d7-4540-9259-72f62d2cdc31">visibilityProprtties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="127fb58b-3b1d-4a29-88ab-50ff14d0ba84">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>