<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c69def6-d6a2-4976-8a08-97cef2e1f5d1" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-old-phone color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page with contact details</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5a4d7987-ef1c-4165-9ee9-9f52689d11e5">contentProperties</Composition>
      <Composition Key="fe73f90a-fc44-4490-92ca-4f98d028aa6e">headerProperties</Composition>
      <Composition Key="21acc14f-b4d7-4540-9259-72f62d2cdc31">visibilityProprtties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="66bae87c-3a8b-4a6d-90b4-1e4b2f711d5c">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>