<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1cb217c-aa8e-4d33-a4ea-7b4ce0b46bbd" Alias="contactUsPage" Level="2">
  <Info>
    <Name>ContactUs Page</Name>
    <Icon>icon-phone color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ContactUsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="02c73c06-178b-4f71-9b4e-1e96ff432772">ContactUsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5c0ac706-d61c-47d2-b2e9-2aa115de6af0" SortOrder="0">contactUsContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>