<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="923bf1dd-17f8-4149-afe1-790a29a7ce3f" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6a308f5c-89b1-49c2-b7f7-0be7d6a10ed0">footerProperties</Composition>
      <Composition Key="fe73f90a-fc44-4490-92ca-4f98d028aa6e">headerProperties</Composition>
      <Composition Key="a4bbed9d-1ddd-44b9-8881-56748b7b3bb2">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="24e8d1d3-929b-44cc-aead-93836cfa3aa3">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="dd7a3413-12bf-45c3-8011-73d96b7c6b01" SortOrder="0">contentPage</ContentType>
    <ContentType Key="95bbe4c6-f966-41d3-bf50-e5a9b17b1d7f" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="3c69def6-d6a2-4976-8a08-97cef2e1f5d1" SortOrder="2">contactPage</ContentType>
    <ContentType Key="863d53a7-8bd7-4e3b-9dc1-a80cbd354b78" SortOrder="3">news</ContentType>
    <ContentType Key="e1cb217c-aa8e-4d33-a4ea-7b4ce0b46bbd" SortOrder="4">contactUsPage</ContentType>
    <ContentType Key="97bf0d12-e762-46b6-8a43-41d06ece571d" SortOrder="5">surveyPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>