<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac786a5e-a872-4875-9b20-2b4d2ea746f5" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-pictures color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="27812ab3-2bbb-45b3-acaf-ddc6b7dc2fe6">descriptionProperty</Composition>
      <Composition Key="62e68da8-dc40-4501-bbe9-1630fb5798ad">imageProperty</Composition>
      <Composition Key="f70ecc19-3f62-4a1b-97f8-e70a6fa1a607">linkProperty</Composition>
      <Composition Key="ff0c35e9-06ff-4d3d-86a4-e6ae0b857d73">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>