<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c5f0886-3ba0-4368-867b-ac42ada2f09d" Alias="newsDetails" Level="3">
  <Info>
    <Name>News Details</Name>
    <Icon>icon-newspaper-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="863d53a7-8bd7-4e3b-9dc1-a80cbd354b78">news</Parent>
    <Compositions>
      <Composition Key="863d53a7-8bd7-4e3b-9dc1-a80cbd354b78">news</Composition>
    </Compositions>
    <DefaultTemplate>NewsDetails</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="870f7dda-3cdb-4772-b4bd-d68a0ba6c646">NewsDetails</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>