<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a49845f-4f86-4b9f-b0b6-ffd6346647cf" Alias="Amber Kipp 75715Cvejhi Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AmberKipp75715CvejhiUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-11T14:16:14</CreateDate>
    <NodeName Default="Amber Kipp 75715Cvejhi Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lgcesgug/amber-kipp-75715cvejhi-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>