<?xml version="1.0" encoding="utf-8"?>
<Media Key="265008b1-9e32-40e0-a263-85e715fbb4fd" Alias="Jack Hamilton EP Ohkgn1ji Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JackHamiltonEPOhkgn1jiUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-11T10:38:32</CreateDate>
    <NodeName Default="Jack Hamilton EP Ohkgn1ji Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w2efajrs/jack-hamilton-ep_ohkgn1ji-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>