<?xml version="1.0" encoding="utf-8"?>
<Media Key="819a3fe5-ece3-4a86-a548-0c529566b5d0" Alias="Post 10" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Post10</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T10:37:51</CreateDate>
    <NodeName Default="Post 10" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2m5jvapd/post-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>