<?xml version="1.0" encoding="utf-8"?>
<Media Key="d540ec11-d856-4ea3-83ab-fbdc9526e2c6" Alias="Post 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Post2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T10:28:49</CreateDate>
    <NodeName Default="Post 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c5webvkw/post-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>