<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9a2072e-9838-4712-be84-150c68839d48" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "74370a71-760e-405c-8e4b-8920a070edc2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title !='' ? title :  'Accordion Item ' + $index}} {{settings.hide == '1' ? '[HIDDEN]' :''}}",
      "settingsElementTypeKey": "7681e1a3-f002-4f6b-8c08-8462b2f52a63",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>