<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b912ec8c-ec5d-4f5f-ba18-a589794ec785" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ac786a5e-a872-4875-9b20-2b4d2ea746f5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title !='' ? title :  'Image Link ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' :''}}",
      "settingsElementTypeKey": "cfef12a1-bf81-41fd-9be6-41fbe03e0d31",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>