<?xml version="1.0" encoding="utf-8"?>
<DataType Key="339b32c8-625c-4869-9d25-3c15f5fc40df" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4dde572f-a6cf-4290-995e-f0a5ab752648",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' + $index }} {{$settings.hide =='1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "7648dbef-a099-4a87-881f-d6d6a5ded667",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d74bf154-e128-4ad5-8a3e-0fc5a0f9f166",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Image ' + $index }} {{$settings.hide =='1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "fd29ac32-de44-4414-b277-6397370e6a81",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "792f5e7e-388b-468c-bf49-4534018612e6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title !='' ? title :  'Featured Item ' + $index}} {{settings.hide == '1' ? '[HIDDEN]' :''}}",
      "settingsElementTypeKey": "c877c225-74fe-4d8e-96ea-3fb0cbcde53d",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3dad8499-aca2-45c5-b833-06b80132883b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title !='' ? title :  'Accordion ' + $index}} {{settings.hide == '1' ? '[HIDDEN]' :''}}",
      "settingsElementTypeKey": "839da743-5096-48c5-aa24-5862043637d5",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "28f1ebf0-62df-4f18-8e58-73705c7e9e4b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": "ddf32e08-8d9e-4e5e-a220-2afa05d4d7be",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "59627142-18d3-4492-ab5d-f2d7707b13a3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Carousel ' + $index}} {{$settings.hide =='1'? '[HIDDEN]':''}}",
      "settingsElementTypeKey": "08954550-3c7d-4ebe-8688-59e46b84a3d8",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>