<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16e85334-14cf-4dea-9c9d-c0380610d3d9" Alias="[Checkbox] list" Level="1">
  <Info>
    <Name>[Checkbox] list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Fish"
    },
    {
      "id": 2,
      "value": "Chicken"
    },
    {
      "id": 3,
      "value": "Pizza"
    },
    {
      "id": 4,
      "value": "Salad"
    }
  ]
}]]></Config>
</DataType>