<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e9c3e2c-f98f-47c2-be0e-e90087e96285" Alias="[Radiobutton] list" Level="1">
  <Info>
    <Name>[Radiobutton] list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Coffee"
    },
    {
      "id": 2,
      "value": "Tea"
    },
    {
      "id": 3,
      "value": "Orange Juice"
    },
    {
      "id": 4,
      "value": "Lemon Juice"
    }
  ]
}]]></Config>
</DataType>