<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85018b3d-8f19-4707-9046-180c5f360088" Alias="[Repeatabletextstrings] Names" Level="1">
  <Info>
    <Name>[Repeatabletextstrings] Names</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>