<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2365014c-1746-4627-ac43-26ad72ec3cfd" Alias="[RichTextEditor] Simple RTE" Level="1">
  <Info>
    <Name>[RichTextEditor] Simple RTE</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "numlist"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>