<?xml version="1.0" encoding="utf-8"?>
<Content Key="bddacced-4077-4608-bcff-0035b30f562a" Alias="Ali Ahmed-10/17/2022 12:05:55 AM" Level="3">
  <Info>
    <Parent Key="86754292-395b-4913-9f23-992282300469">Contact Us</Parent>
    <Path>/Home/ContactUs/AliAhmed10172022120555AM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsContentPage</ContentType>
    <CreateDate>2022-10-17T00:05:55</CreateDate>
    <NodeName Default="Ali Ahmed-10/17/2022 12:05:55 AM" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="be140c57-f48f-4ec5-bf8b-c44f29545039">ContactUsContentPage</Template>
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[momen95gamal@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[New Email Test New Email Test]]></Value>
    </message>
    <subject>
      <Value><![CDATA[New Email Test]]></Value>
    </subject>
    <userName>
      <Value><![CDATA[Ali Ahmed]]></Value>
    </userName>
  </Properties>
</Content>