<?xml version="1.0" encoding="utf-8"?>
<Content Key="beb4cd17-c7ff-46ff-96bc-ea360cd276d2" Alias="Ali Ahmed-10/16/2022 11:24:13 PM" Level="3">
  <Info>
    <Parent Key="86754292-395b-4913-9f23-992282300469">Contact Us</Parent>
    <Path>/Home/ContactUs/AliAhmed10162022112413PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsContentPage</ContentType>
    <CreateDate>2022-10-16T23:24:13</CreateDate>
    <NodeName Default="Ali Ahmed-10/16/2022 11:24:13 PM" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="be140c57-f48f-4ec5-bf8b-c44f29545039">ContactUsContentPage</Template>
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[momen.jamal@linkdev.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[bbb bbb bbb bbb bbb]]></Value>
    </message>
    <subject>
      <Value><![CDATA[bbb]]></Value>
    </subject>
    <userName>
      <Value><![CDATA[Ali Ahmed]]></Value>
    </userName>
  </Properties>
</Content>