<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef17beb7-bae1-443e-91f3-9e6d56c1e203" Alias="Bassent Mahmoud-10/17/2022 12:20:04 PM" Level="3">
  <Info>
    <Parent Key="86754292-395b-4913-9f23-992282300469">Contact Us</Parent>
    <Path>/Home/ContactUs/BassentMahmoud10172022122004PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsContentPage</ContentType>
    <CreateDate>2022-10-17T12:20:04</CreateDate>
    <NodeName Default="Bassent Mahmoud-10/17/2022 12:20:04 PM" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="be140c57-f48f-4ec5-bf8b-c44f29545039">ContactUsContentPage</Template>
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[momen95gamal@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[to Contact Us Form Contact Us Form]]></Value>
    </message>
    <subject>
      <Value><![CDATA[Contact Us Form]]></Value>
    </subject>
    <userName>
      <Value><![CDATA[Bassent Mahmoud]]></Value>
    </userName>
  </Properties>
</Content>