<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3030815-d9d5-4c02-a14d-2a37085a6469" Alias="Blog" Level="2">
  <Info>
    <Parent Key="c9c3eab4-283d-419e-90c9-b61d37e0c0fb">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2022-10-11T14:52:16</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d2d5c5d-ec4b-4b46-9187-32456b422b49">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <colours>
      <Value><![CDATA[]]></Value>
    </colours>
    <image>
      <Value><![CDATA[[
  {
    "key": "5617db46-cc67-4c14-9c91-90009dfb7dce",
    "mediaKey": "265008b1-9e32-40e0-a263-85e715fbb4fd"
  }
]]]></Value>
    </image>
    <names>
      <Value><![CDATA[]]></Value>
    </names>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>