<?xml version="1.0" encoding="utf-8"?>
<Content Key="64a1da0f-7863-4055-bf23-60134df8c760" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c9c3eab4-283d-419e-90c9-b61d37e0c0fb">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-10-11T14:52:39</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66bae87c-3a8b-4a6d-90b4-1e4b2f711d5c">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <colours>
      <Value><![CDATA[]]></Value>
    </colours>
    <gridE>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article",
          "id": "b0a235de-f707-4d6a-af84-9ab1dacdbf4a",
          "areas": [
            {
              "grid": "4",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </gridE>
    <image>
      <Value><![CDATA[[
  {
    "key": "ee2c9fda-2182-4215-a2cd-46d635f9b1ef",
    "mediaKey": "1a49845f-4f86-4b9f-b0b6-ffd6346647cf"
  }
]]]></Value>
    </image>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <names>
      <Value><![CDATA[]]></Value>
    </names>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>