<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9c3eab4-283d-419e-90c9-b61d37e0c0fb" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-10-11T10:04:12</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="24e8d1d3-929b-44cc-aead-93836cfa3aa3">HomePage</Template>
  </Info>
  <Properties>
    <colours>
      <Value><![CDATA[[
  "Red"
]]]></Value>
    </colours>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/"
  }
]]]></Value>
    </footerSocialLinks>
    <image>
      <Value><![CDATA[[
  {
    "key": "93c02b93-45dc-4e30-980d-407277dee6fd",
    "mediaKey": "265008b1-9e32-40e0-a263-85e715fbb4fd"
  }
]]]></Value>
    </image>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "41f16946-4ca3-4642-9769-648ce2189cb4",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/c9c3eab4283d419e90c9b61d37e0c0fb\"}]",
    "childLinks": null
  },
  {
    "key": "b71237ba-1c8f-4c4a-8e6b-20bc405d7d68",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": "[{\"name\":\"About\",\"target\":\"_blank\",\"udi\":\"umb://document/dc4121c616c146c8b0f5d601887a6b65\"}]",
    "childLinks": null
  },
  {
    "key": "7cced704-09d3-4504-9f2d-ad0cdcc3cd85",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": "[{\"name\":\"Blog\",\"udi\":\"umb://document/b3030815d9d54c02a14d2a37085a6469\",\"queryString\":\"#testing1\"},{\"name\":\"Most Popular\",\"url\":\"\",\"queryString\":\"#testing2\"},{\"name\":\"Latest Blog Posts\",\"url\":\"#testing3\"}]"
  },
  {
    "key": "240df2dc-030e-4f92-ba91-8b4773b697d5",
    "name": "News",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "News",
    "link": "[{\"name\":\"News\",\"udi\":\"umb://document/41856a46925848f6b59607734c8ceda4\"}]",
    "childLinks": null
  },
  {
    "key": "faa269d3-1ccd-40f2-8f52-b5d3d133dd67",
    "name": "Contact Us",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact Us",
    "link": "[{\"name\":\"Contact Us\",\"udi\":\"umb://document/86754292395b49139f23992282300469\"}]",
    "childLinks": null
  },
  {
    "key": "9e8e7fc8-ede0-4876-82bf-da1750b7b9a0",
    "name": "Survey",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Survey",
    "link": "[{\"name\":\"Survey\",\"udi\":\"umb://document/ca934f3729884ac4a6a5dedfd820d084\"}]",
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <names>
      <Value><![CDATA[Ali
Omar
Hany]]></Value>
    </names>
    <subtitle>
      <Value><![CDATA[A blog website for Moamen Jamal]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Momen's Site]]></Value>
    </title>
  </Properties>
</Content>