<?xml version="1.0" encoding="utf-8"?>
<Content Key="8daba968-111b-4a95-b4bf-a9741a50bf14" Alias="Moamen-Contact" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MoamenContact</Path>
    <Trashed Parent="86754292-395b-4913-9f23-992282300469">true</Trashed>
    <ContentType>contactUsContentPage</ContentType>
    <CreateDate>2022-10-16T17:30:08</CreateDate>
    <NodeName Default="Moamen-Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="be140c57-f48f-4ec5-bf8b-c44f29545039">ContactUsContentPage</Template>
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[momen95gamal@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[to test Troubleshoot problem Troubleshoot problem Troubleshoot problem Troubleshoot problem Troubleshoot problem]]></Value>
    </message>
    <subject>
      <Value><![CDATA[Troubleshoot problem]]></Value>
    </subject>
    <userName>
      <Value><![CDATA[Moamen Jamal]]></Value>
    </userName>
  </Properties>
</Content>