<?xml version="1.0" encoding="utf-8"?>
<Content Key="6378c4cb-81ed-4842-9889-567b4722b9a1" Alias="Momen Jamal-10/16/2022 11:16:53 PM" Level="3">
  <Info>
    <Parent Key="86754292-395b-4913-9f23-992282300469">Contact Us</Parent>
    <Path>/Home/ContactUs/MomenJamal10162022111653PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsContentPage</ContentType>
    <CreateDate>2022-10-16T23:16:53</CreateDate>
    <NodeName Default="Momen Jamal-10/16/2022 11:16:53 PM" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="be140c57-f48f-4ec5-bf8b-c44f29545039">ContactUsContentPage</Template>
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[momen95gamal@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[New Email Test New Email Test New Email Test New Email Test]]></Value>
    </message>
    <subject>
      <Value><![CDATA[New Email Test]]></Value>
    </subject>
    <userName>
      <Value><![CDATA[Momen Jamal]]></Value>
    </userName>
  </Properties>
</Content>