<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ff65880-b1cd-4ac5-9241-ff7a3a20dc98" Alias="News 3" Level="3">
  <Info>
    <Parent Key="41856a46-9258-48f6-b596-07734c8ceda4">News</Parent>
    <Path>/Home/News/News3</Path>
    <Trashed>false</Trashed>
    <ContentType>newsDetails</ContentType>
    <CreateDate>2022-10-16T10:37:12</CreateDate>
    <NodeName Default="News 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="870f7dda-3cdb-4772-b4bd-d68a0ba6c646">NewsDetails</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Vivamus adipiscing dui at turpis imperdiet congue. Fusce posuere augue et odio bibendum non dictum nisi posuere. Vivamus adipiscing dui at turpis imperdiet congue. Fusce posuere augue et odio bibendum non dictum nisi posuere. Vivamus adipiscing dui at turpis imperdiet congue. Fusce posuere augue et odio bibendum non dictum nisi posuere.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "02d1303b-c832-4e00-9e4a-9be31ebae123",
    "mediaKey": "265008b1-9e32-40e0-a263-85e715fbb4fd"
  }
]]]></Value>
    </image>
    <link>
      <Value><![CDATA[[
  {
    "name": "Coffee Link",
    "url": "#"
  }
]]]></Value>
    </link>
    <title>
      <Value><![CDATA[Cras ac ultrices ipsum.]]></Value>
    </title>
  </Properties>
</Content>