<?xml version="1.0" encoding="utf-8"?>
<Content Key="8939adc0-b400-4f83-8073-4ae4bd913dd6" Alias="News 1- Copy" Level="3">
  <Info>
    <Parent Key="41856a46-9258-48f6-b596-07734c8ceda4">News</Parent>
    <Path>/Home/News/News1Copy</Path>
    <Trashed>false</Trashed>
    <ContentType>newsDetails</ContentType>
    <CreateDate>2022-10-18T11:18:37</CreateDate>
    <NodeName Default="News 1- Copy" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="870f7dda-3cdb-4772-b4bd-d68a0ba6c646">NewsDetails</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus. Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus. Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "d199a19b-9d43-4dce-9cce-3761309c4985",
    "mediaKey": "265008b1-9e32-40e0-a263-85e715fbb4fd"
  }
]]]></Value>
    </image>
    <link>
      <Value><![CDATA[[
  {
    "name": "Man Link",
    "url": "#"
  }
]]]></Value>
    </link>
    <title>
      <Value><![CDATA[Maecenas scelerisque sapien - Copy ]]></Value>
    </title>
  </Properties>
</Content>