<?xml version="1.0" encoding="utf-8"?>
<Content Key="beb008c2-8939-408e-badf-1266a9a80c0b" Alias="News 4" Level="3">
  <Info>
    <Parent Key="41856a46-9258-48f6-b596-07734c8ceda4">News</Parent>
    <Path>/Home/News/News4</Path>
    <Trashed>false</Trashed>
    <ContentType>newsDetails</ContentType>
    <CreateDate>2022-10-16T10:38:06</CreateDate>
    <NodeName Default="News 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="870f7dda-3cdb-4772-b4bd-d68a0ba6c646">NewsDetails</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus. Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus. Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus. Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "43bf6a8d-1854-4dac-bb1c-0ce07f675482",
    "mediaKey": "1a49845f-4f86-4b9f-b0b6-ffd6346647cf"
  }
]]]></Value>
    </image>
    <link>
      <Value><![CDATA[[
  {
    "name": "Train Link",
    "url": "#"
  }
]]]></Value>
    </link>
    <title>
      <Value><![CDATA[Nunc ac lorem id ipsum.]]></Value>
    </title>
  </Properties>
</Content>