<?xml version="1.0" encoding="utf-8"?>
<Content Key="75246880-bc7b-471c-9d76-61ddcf68da2a" Alias="News 2" Level="3">
  <Info>
    <Parent Key="41856a46-9258-48f6-b596-07734c8ceda4">News</Parent>
    <Path>/Home/News/News2</Path>
    <Trashed>false</Trashed>
    <ContentType>newsDetails</ContentType>
    <CreateDate>2022-10-16T10:35:36</CreateDate>
    <NodeName Default="News 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="870f7dda-3cdb-4772-b4bd-d68a0ba6c646">NewsDetails</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus. Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus. Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus. Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo id mi bibendum luctus.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "401b85f4-3bfc-485e-adf6-2a1efaa173a0",
    "mediaKey": "1a49845f-4f86-4b9f-b0b6-ffd6346647cf"
  }
]]]></Value>
    </image>
    <link>
      <Value><![CDATA[[
  {
    "name": "Test Link",
    "url": "#"
  }
]]]></Value>
    </link>
    <title>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit.]]></Value>
    </title>
  </Properties>
</Content>