<?xml version="1.0" encoding="utf-8"?>
<Content Key="41856a46-9258-48f6-b596-07734c8ceda4" Alias="News" Level="2">
  <Info>
    <Parent Key="c9c3eab4-283d-419e-90c9-b61d37e0c0fb">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2022-10-16T10:30:18</CreateDate>
    <NodeName Default="News" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65ff0a95-24a9-41a2-b4c1-6eb0ffdbb602">News</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>