<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca934f37-2988-4ac4-a6a5-dedfd820d084" Alias="Survey" Level="2">
  <Info>
    <Parent Key="c9c3eab4-283d-419e-90c9-b61d37e0c0fb">Home</Parent>
    <Path>/Home/Survey</Path>
    <Trashed>false</Trashed>
    <ContentType>surveyPage</ContentType>
    <CreateDate>2022-10-17T23:49:16</CreateDate>
    <NodeName Default="Survey" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="90511bf1-17e6-4682-8ee8-a73a3fc3b413">SurveyPage</Template>
  </Info>
  <Properties>
    <rTEForm>
      <Value><![CDATA[<?UMBRACO_MACRO macroAlias="renderUmbracoForm" FormGuid="ce6e275e-ed55-4c04-8c3e-c0ac0aae81a7" FormTheme="default" ExcludeScripts="1" />
<?UMBRACO_MACRO macroAlias="renderUmbracoForm" FormGuid="ce6e275e-ed55-4c04-8c3e-c0ac0aae81a7" FormTheme="bootstrap3-horizontal" ExcludeScripts="1" />
<p> </p>]]></Value>
    </rTEForm>
  </Properties>
</Content>